* {
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(56, 165, 255);
  --secondary-color: rgb(60, 60, 60);
}

body {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(60, 60, 60);
}

#title{
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
  margin: 0px;
}

div.input {
  width: 300px;
  border: 10px solid grey;
  border-radius: 25px;
  padding: 50px;
  margin: 50px;
  margin-top: 0px;
}

button {
  font-size: large;
  color: white;
  background-color: rgba(18, 5, 133);
  width: 100px;
}

button:hover {
  font-size: large;
  color: rgba(18, 5, 133);
  background-color: white;
}

.results h1{
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
  margin: 0px;
}

.results div{
  color: green;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 0px;
  margin: 0px;
}