
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(60, 60, 60);
}

div.test {
  width: 300px;
  border: 10px solid grey;
  border-radius: 25px;
  padding: 50px;
  margin: 50px;
}

button {
  font-size: large;
  color: white;
  background-color: rgba(18, 5, 133);
  width: 100px;
}

button:hover {
  font-size: large;
  color: rgba(18, 5, 133);
  background-color: white;
}
